.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.DS_Store
capture/
**/*.ap_
**/*.flat
**/*.arsc.flat
**/*.json
**/*.xml
**/*.bin
**/*.lock
build.log
build_upgrade.log
build_debug.log
build_debug_final.log
build_upgrade_final.log
build_log_upgrade.txt
test_final.log
test_log.txt
build_final.log
build_log.txt
test_final_upgrade.log
